<h1>編集画面</h1>

<%= form_with model: @post, url: post_path(@post), method: :patch do |f| %>
  <%= render 'public/shared/error_messages', resource: f.object %>

  <div>
    <h4>神社仏閣の名前</h4>
    <%= f.text_field :title %>
  </div>
  
  <div>
    <h4>所在地</h4>
    <%= f.text_area :address %>
  </div>
  
  <% if @post.user == current_user %>
    <%= f.submit "更新" %>
    <%= link_to "削除", post_path(@post), method: :delete, data: { confirm: "本当に削除しますか？" } %>
  <% end %>

<% end %>