<%= stylesheet_link_tag 'post_index' %>

<%= render 'layouts/search' %>

<div class="container mt-5">
  <h1 class="mb-4 text-center">みんなの投稿一覧</h1>
  <div class="text-center mb-3">
    <%= link_to "マイページに戻る", user_path(current_user), class: "btn btn-yamabuki me-2" %>
    <% unless current_user.guest_user? %>
      <%= link_to "投稿する", new_post_path, class: "btn btn-sakura me-2" %>
    <% end %>
  </div>
  
  <% if params[:tag].present? %>
    <div class="mb-3 text-center">
      <p>タグ: <%= params[:tag] %> による絞り込み結果</p>
      <%= link_to '絞り込み解除', posts_path, class: 'btn btn-secondary' %>
    </div>
  <% end %>

  <%= render 'layouts/sort' %>

  <div class="row" id="postContainer">
    <%= render 'layouts/post' %>
    <%= paginate @posts %>
  </div>
</div>

<script>
document.addEventListener('turbolinks:load', function() {
  var cards = document.querySelectorAll('.post-card');
  cards.forEach(function(card, index) {
    setTimeout(function() {
      card.style.opacity = '1';
    }, index * 100); // 0.1秒ごとにずらして表示
  });
});
</script>

<!-- 評価javascript -->
<%= render 'layouts/star' %>
