<%= stylesheet_link_tag 'post_new' %>
<%= render 'layouts/search' %>
<% if flash.now[:danger] %>
  <div class="alert alert-danger">
    <%= flash.now[:danger] %>
  </div>
<% end %>
<div class="background"></div>

<div class="form-container">
  <div class="row justify-content-center">
    <div class="col-lg-8">

      <!--入力フォーム-->
      <%= render 'layouts/post_new' %>

      <!-- マイページに戻るリンク -->
      <div class="mt-4">
        <%= link_to "マイページに戻る", user_path(current_user.id), class: "btn btn-yamabuki me-2" %>
        <%= link_to "みんなの投稿をみる", posts_path, class: "btn btn-sky" %>
      </div>
    </div>
  </div>
</div>

<!-- 画像プレビュー -->
<%= render 'layouts/preview' %>

<!-- 評価（新規投稿用） -->
<script>
  let elem = document.querySelector('#post_raty');
  let opt = {
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    half: true,
    scoreName: 'post[star]'
   };
  raty(elem,opt);
</script>

<!--所在地自動入力-->
<script>
  $(document).ready(function(){
    $('#zipcode').jpostal({
      postcode: [
        '#zipcode'
      ],
      address: {
        '#post_address': '%3%4%5'
      }
    });
  });
</script>