<%= stylesheet_link_tag 'post_new' %>
<%= render 'layouts/search' %>

<div class="background"></div>

<div class="new-container">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <%= form_with model: @post, id: 'post-form', html: {class: 'needs-validation fade-in-from-bottom'}, validate: true do |f| %>
        <%= render 'public/shared/error_messages', resource: f.object %>
        <div class="border p-4 shadow border-rounded fade-in-from-bottom">
          <div class="text-center">
            <h1 class="mb-4">新規投稿</h1>
          </div>

          <!-- 評価のフォーム -->
          <div class="form-group" id="post_raty">
            <h6>あなたのおすすめ度を教えてください！</h6>
          </div>

          <!-- 寺社名フォーム -->
          <div class="form-group">
            <h4>寺社名</h4>
            <%= f.text_field :title, class: "form-control", placeholder: "例）○○神社", required: true %>
            <div class="invalid-feedback">
              寺社名を入力してください。
            </div>
          </div>

          <!-- 所在地フォーム -->
          <div class="form-group">
            <h4>所在地</h4>
            <%= f.text_area :address, class: "form-control", placeholder: "例）○○県 ○○市 ○○-○", required: true %>
            <div class="invalid-feedback">
              所在地を入力してください。
            </div>
          </div>

          <!-- 紹介文フォーム -->
          <div class="form-group">
            <h4>紹介文</h4>
            <%= f.text_area :introduction, class: "form-control", placeholder: "ここに紹介文を入力してください" %>
          </div>

          <!-- ご朱印選択フォーム -->
          <div class="form-group">
            <h4>ご朱印はいただけますか？</h4>
            <div class="form-check">
              <%= f.radio_button :receive_shuin, true, class: "form-check-input" %>
              <%= f.label :receive_shuin, "はい", class: "form-check-label" %>
            </div>
            <div class="form-check">
              <%= f.radio_button :receive_shuin, false, class: "form-check-input" %>
              <%= f.label :receive_shuin, "いいえ", class: "form-check-label" %>
            </div>
          </div>

          <!-- タグ入力フォーム -->
          <div class="form-group">
            <%= f.label :"タグ入力欄（半角コンマ（,）で区切ると複数タグ付けできます）" %>
            <%= f.text_field :tag_list, value: @post.tag_list.join(','), class: 'form-control', placeholder: "例）景色がきれい,駐車場あり" %>
          </div>

          <!-- 画像アップロードフォーム -->
          <div class="form-group">
            <%= f.label :image, "画像アップロード" %>
            <%= f.file_field :image, class: "form-control-file", onchange: "previewImage(this);" %>
            <div id="image-preview"></div>
          </div>

          <!-- 投稿ボタン -->
          <div class="form-group">
            <%= f.submit '投稿する', class: "btn btn-sakura me-2" %>
          </div>
        </div>
      <% end %>

      <!-- マイページに戻るリンク -->
      <div class="mt-4">
        <%= link_to "マイページに戻る", user_path(current_user.id), class: "btn btn-yamabuki me-2" %>
        <%= link_to "みんなの投稿をみる", posts_path, class: "btn btn-sky" %>
      </div>
    </div>
  </div>
</div>

<!-- 画像プレビュー -->
<%= render 'layouts/preview' %>

<!-- 評価（新規投稿用） -->
<script>
  let elem = document.querySelector('#post_raty');
  let opt = {
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    half: true,
    scoreName: 'post[star]'
   };
  raty(elem,opt);
</script>