<%= render 'layouts/search' %>

<div class="container">
  <div class="row center-form">
    <div class="col-lg-6">
      <%= form_with model: @post, id: 'post-form', html: {class: 'needs-validation fade-in-from-bottom'}, validate: true do |f| %>
        <%= render 'public/shared/error_messages', resource: f.object %>
        <div class="border p-4 shadow border-rounded fade-in-from-bottom">
          <div class="text-center">
            <h1 class="mb-4">新規投稿</h1>
          </div>
          
                    <!-- 評価のフォーム -->
          <div class="form-group" id="post_raty"></div>
          
          <!-- 寺社名フォーム -->
          <div class="form-group">
            <h4>寺社名</h4>
            <%= f.text_field :title, class: "form-control", placeholder: "例）○○神社", required: true %>
            <div class="invalid-feedback">
              寺社名を入力してください。
            </div>
          </div>

          <!-- 所在地フォーム -->
          <div class="form-group">
            <h4>所在地</h4>
            <%= f.text_area :address, class: "form-control", placeholder: "例）○○県 ○○市 ○○-○", required: true %>
            <div class="invalid-feedback">
              所在地を入力してください。
            </div>
          </div>

          <!-- タグ入力フォーム -->
          <div class="form-group">
            <%= f.label :"タグ入力欄（半角コンマ（,）で区切ると複数タグ付けできます）" %>
            <%= f.text_field :tag_list, value: @post.tag_list.join(','), class: 'form-control', placeholder: "例）景色がきれい,駐車場あり" %>
          </div>

          <!-- 画像アップロードフォーム -->
          <div class="form-group">
            <%= f.label :image, "画像アップロード" %>
            <%= f.file_field :image, class: "form-control-file", onchange: "previewImage(this);" %>
            <div id="image-preview"></div>
          </div>
          
          <!-- 投稿ボタン -->
          <div class="form-group">
            <%= f.submit '投稿する', class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>

      <!-- マイページに戻るリンク -->
      <div class="mt-4">
        <%= link_to "マイページに戻る", user_path(current_user.id), class: "btn btn-secondary" %>
      </div>
    </div>
  </div>
</div>

<script>
// JavaScriptで画像のプレビュー表示を設定
function previewImage(input) {
  var preview = document.getElementById('image-preview');
  while (preview.firstChild) {
    preview.removeChild(preview.firstChild);
  }

  if (input.files && input.files[0]) {
    var reader = new FileReader();
    reader.onload = function (e) {
      var image = document.createElement('img');
      image.src = e.target.result;
      image.style.maxWidth = '200px'; // プレビュー画像の最大幅を設定
      image.style.maxHeight = '200px'; // プレビュー画像の最大高さを設定
      preview.appendChild(image);
    };
    reader.readAsDataURL(input.files[0]);
  }
}
</script>

<!-- 評価javascript -->
<script>
  // scriptファイルをどのidの部分に配置するかを指定
  let elem = document.querySelector('#post_raty');
  let opt = {  
    starOn: "<%= asset_path('star-on.png') %>",
    starOff: "<%= asset_path('star-off.png') %>",
    starHalf: "<%= asset_path('star-half.png') %>",
    half: true,
    scoreName: 'post[star]'
   };
  raty(elem,opt);
</script>  