<%= stylesheet_link_tag 'post_new' %>

<%= render 'layouts/search' %>

<% if flash.now[:danger] %>
  <div class="alert alert-danger">
    <%= flash.now[:danger] %>
  </div>
<% end %>

<div class="background"></div>

<div class="form-container">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <%= form_with model: @post, id: 'post-form', html: {class: 'needs-validation fade-in-from-bottom'}, validate: true do |f| %>
        <%= render 'public/shared/error_messages', resource: f.object %>
        <div class="border p-4 shadow border-rounded fade-in-from-bottom">
          <div class="text-center">
            <h1 class="mb-4">新規投稿</h1>
          </div>
          <!--入力フォーム-->
          <%= render 'layouts/post_form', f: f %>
          <div class="form-group">
            <%= f.submit '投稿する', class: "btn btn-sakura me-2" %>
          </div>
        </div>
      <% end %>
      <div class="mt-4">
        <%= link_to "マイページに戻る", user_path(current_user.id), class: "btn btn-yamabuki me-2" %>
        <%= link_to "みんなの投稿をみる", posts_path, class: "btn btn-sky" %>
      </div>
    </div>
  </div>
</div>

<!-- 画像プレビュー -->
<%= render 'layouts/preview' %>

<!-- 評価 -->
<%= render 'layouts/star_form' %>

<!--所在地自動入力-->
<script>
  $(document).ready(function(){
    $('#zipcode').jpostal({
      postcode: [
        '#zipcode'
      ],
      address: {
        '#post_address': '%3%4%5'
      }
    });
  });
</script>