<%= form_with model: @post do |f| %>
  <%= render 'public/shared/error_messages', resource: f.object %>


  <div><h1>新規投稿</h1></div>
  
  <div>
    <h4>タイトル</h4>
    <%= f.text_field :title %>
  </div>

  <div>
    <h4>所在地</h4>
    <%= f.text_area :address %>
  </div>

  <div><%= f.submit '投稿' %></div>
<% end %>