<h1>投稿詳細</h1>

<div>
  <h2>タイトル</h2>
  <p><%= @post.title %></p>
</div>

<div>
  <h2>所在地</h2>
  <p><%= @post.address %></p>
</div>

<div>
  <h2>投稿者</h2>
  <p><%= @post.user.name %></p>
</div>

<% if @post.user == current_user %>
  <div><%= link_to "編集", edit_post_path(@post) %></div>
  <div><%= link_to "削除", post_path(@post), method: :delete, data: { confirm: "本当に削除しますか？" } %></div>
<% end %>