<h1>投稿詳細</h1>

<div><span>神社仏閣の名前</span>：<span><%= @post.title %></span></div>
<div><span>所在地</span>：<span><%= @post.address %></span></div>
<div><span>投稿者</span>：<span><%= link_to @post.user.name, user_path(@post.user) %></span></div>

<% if @post.user == current_user %>
  <%= link_to "編集", edit_post_path(@post) %>
  <%= link_to "削除", post_path(@post), method: :delete, data: { confirm: "本当に削除しますか？" } %>
<% end %>

<%= form_with(model: [@post, @comment], method: :post) do |f| %>
  <div>
    <%= f.text_area :comment, placeholder: "コメントをここに" %>
    <%= f.hidden_field :post_id, value: @post.id %>
  </div>
  <div>
    <%= f.submit "コメントする" %>
  </div>
<% end %>

<p>コメント一覧</p>
<% @comments.each do |comment| %>
  <%= comment.user.name %>
  <%= comment.comment %>
  <%= comment.created_at.strftime('%Y/%m/%d') %>
  <% if current_user == comment.user %>
    <%= link_to "削除", post_comment_path(comment.post, comment), method: :delete, data: { confirm: "本当に削除しますか？" } %>
  <% end %>
<% end %>