<h1>投稿詳細</h1>

<div><span>神社仏閣の名前</span>：<span><%= @post.title %></span></div>
<div><span>所在地</span>：<span><%= @post.address %></span></div>
<div><span>投稿者</span>：<span><%= link_to @post.user.name, user_path(@post.user) %></span></div>

<% if @post.user == current_user %>
  <%= link_to "編集", edit_post_path(@post) %>
  <%= link_to "削除", post_path(@post), method: :delete, data: { confirm: "本当に削除しますか？" } %>
<% end %>

<% @post.post_comments.each do |post_comment| %>
  <%= post_comment.user.name %>
  <%= post_comment.created_at.strftime('%Y/%m/%d') %>
  <%= post_comment.comment %>
<% end %>
 <% if post_comment.user == current_user %>
    <%= link_to "削除", post_post_comment_path(post_comment.post, post_comment), method: :delete %>
 <% end %>


<%= form_with model: [@post, @post_comment] do |f| %>
  <%= f.text_area :comment, placeholder: "コメントをここに" %>
  <%= f.submit "送信する" %>
<% end %>