<%= render 'layouts/search' %>
<% if admin_signed_in? %>
  <%= link_to "会員名：【#{@user.name}】さんの投稿一覧に戻る", admin_user_posts_path(@user), class: "btn btn-secondary mt-3 me-2" %>
<% end %>

<div class="container mt-5">
  <h1>投稿詳細</h1>
  <div class="row">
    <div class="col-md-6">
      <div class="card card-custom p-3 mb-3">
        <% if @post.image.attached? %>
          <%= image_tag @post.image, size: "200x200", class: "card-img-top img-fluid" %>
        <% else %>
          <%= image_tag 'no_image.png', size: "200x200", class: "card-img-top img-fluid" %>
        <% end %>
        <div class="card-body">
          <h5 class="card-title">寺社名：<%= @post.title %></h5>
          <p class="card-text">所在地：<%= @post.address %></p>
          <p class="card-text">投稿者：<%= link_to @post.user.name, user_path(@post.user) %></p>
          <p class="card-text">タグ：
            <% @post.tag_list.each do |tag| %>
              <%= link_to tag, tagged_posts_path(tag), class: "badge bg-primary text-white" %>
            <% end %>
          </p>
          <% if @post.user == current_user %>
            <div class="mt-3">
              <%= link_to "編集", edit_post_path(@post), class: "btn btn-primary btn-sm" %>
              <%= link_to "削除", post_path(@post), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger btn-sm" %>
            </div>
          <% end %>
        </div>
      </div>
      <div class="card card-custom p-3">
        <%= form_with(model: [@post, @comment], method: :post, local: true, html: { id: 'commentForm' }) do |f| %>
          <div class="mb-3">
            <%= f.text_area :comment, placeholder: "コメントをここに", class: "form-control", id: "commentField" %>
            <%= f.hidden_field :post_id, value: @post.id %>
            <div class="invalid-feedback">コメントを入力してください。</div>
          </div>
          <div>
            <%= f.submit "コメントする", class: "btn btn-success" %>
          </div>
        <% end %>
      </div>
    </div>
    <div class="col-md-6">
      <h5>コメント一覧</h5>
      <% if @comments.empty? %>
        <div class="card card-custom p-3">
          <p>コメントがありません</p>
        </div>
      <% else %>
        <% @comments.each do |comment| %>
          <div class="card card-custom comment-card p-3">
            <div><strong>投稿者：<%= link_to comment.user.name, user_path(comment.user) %></strong></div>
            <div><%= comment.comment %></div>
            <div class="text-muted"><%= comment.created_at.strftime('%Y/%m/%d') %></div>
            <% if current_user == comment.user %>
              <div class="mt-2">
                <%= link_to "削除", post_comment_path(comment.post, comment), method: :delete, data: { confirm: "本当に削除しますか？" }, class: "btn btn-danger btn-sm" %>
              </div>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
  </div>
</div>


<script>
  document.addEventListener('turbolinks:load', function() {
    var allCards = document.querySelectorAll('.card-custom');
    allCards.forEach(function(card, index) {
      setTimeout(function() {
        card.classList.add('show');
      }, index * 100);
    });

    document.getElementById('commentForm').addEventListener('submit', function(event) {
      var commentField = document.getElementById('commentField');
      if (commentField.value.trim() === "") {
        commentField.classList.add('is-invalid');
        event.preventDefault();
      } else {
        commentField.classList.remove('is-invalid');
      }
    });
  });
</script>
