<%= stylesheet_link_tag 'post_show' %>
<%= render 'layouts/search' %>
<div class="container mt-5 text-center">
  <% if flash[:notice] %>
    <div class="alert alert-success">
      <%= flash[:notice] %>
    </div>
  <% end %>
  <h1 class="mb-3">投稿詳細</h1>
  <div class="mb-3">
    <% if admin_signed_in? %>
      <%= link_to "会員名：【#{@post.user.name}】さんの投稿一覧に戻る", admin_user_posts_path(@post.user), class: "btn btn-secondary mx-1" %>
    <% end %>
    <% if user_signed_in? %>
      <%= link_to "マイページに戻る", user_path(current_user), class: "btn btn-yamabuki me-2" %>
      <% unless current_user.guest_user? %>
        <%= link_to "投稿する", new_post_path, class: "btn btn-sakura me-2" %>
      <% end %>
      <%= link_to "みんなの投稿をみる", posts_path, class: "btn btn-sky" %>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <!-- 投稿内容 -->
    <%= render 'layouts/post_show' %>
  </div>

  <div class="col-md-6">
    <!-- コメント入力フォーム -->
    <%= render 'layouts/comment_form' %>

    <!-- コメント一覧 -->
    <%= render 'layouts/comment_index' %>
  </div>
</div>

<!-- 評価javascript -->
<%= render 'layouts/star' %>
<%= render 'layouts/comment_star' %>

<!--マップ用JavaScript-->
<%= render 'layouts/map_show' %>

<script>
  document.addEventListener('turbolinks:load', function() {
    var allCards = document.querySelectorAll('.card-custom');
    allCards.forEach(function(card, index) {
      setTimeout(function() {
        card.classList.add('show');
      }, index * 100);
    });

    document.getElementById('commentForm').addEventListener('submit', function(event) {
      var commentField = document.getElementById('commentField');
      if (commentField.value.trim() === "") {
        commentField.classList.add('is-invalid');
        event.preventDefault();
      } else {
        commentField.classList.remove('is-invalid');
      }
    });
  });
</script>

<script src="https://maps.googleapis.com/maps/api/js?key=<%= Rails.application.credentials.Maps_API_Key %>&callback=initMap" async defer></script>

