<h1>検索結果</h1>

<% if @model == "user" %>
  <h2>ユーザー名検索結果"<%= @content %>"</h2>
  <% @records.each do |user| %>
    <%= user.name %>
  <% end %>
<% elsif @model == "post" %>
  <h2>Posts search for '<%= @content %>'</h2>
  <% @records.each do |post| %>
    <%= post.title %>
    <%= post.address %>
  <% end %>
<% else %>
    <p>"<%= @content %>" は見つかりませんでした</p>
<% end %>