<%= stylesheet_link_tag 'post_index' %>
<%= render 'layouts/search' %>

<div class="container mt-5">
  <h1 class="mb-4 text-center">検索結果</h1>

  <% if @model == "user" %>
    <% if @records.any? %>
      <h4>【<%= @content %>】さんの検索結果</h4>
      <% @records.each_slice(3) do |users| %>
        <div class="row">
          <% users.each do |user| %>
            <div class="col-md-4">
              <div class="card user-card border-rounded shadowed mb-3">
                <div class="card-body">
                  <h5 class="card-title"><%= link_to user.name, user_path(user.id) %></h5>
                </div>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    <% else %>
      <%= render partial: 'no_results' %>
    <% end %>

  <% elsif @model == "post" || @model == "address" %>
    <% if @records.any? %>
      <div class="row">
        <div class="col">
          <h4>
            <% if @model == "post" %>
              寺社名：【<%= @content %>】
            <% elsif @model == "address" %>
              【<%= @content %>】
            <% end %>
            の検索結果
          </h4>
          <% @records.each_slice(2) do |posts| %>
            <div class="row">
              <% posts.each do |post| %>
                <div class="col-md-6">
                  <div class="card post-card border-rounded shadowed mb-3">
                    <div class="card-body">
                      <h5 class="card-title"><%= link_to post.title, post_path(post.id) %></h5>
                      <p class="card-text">所在地：<%= post.address %></p>
                      <p class="card-text">投稿者：<%= link_to post.user.name, user_path(post.user.id) %></p>
                      <p class="card-text text-muted"><small>投稿日：<%= post.created_at.strftime("%Y年%m月%d日") %></small></p>
                      <p class="card-text text-muted text-end"><small>コメント数：<%= post.comments.count %></small></p>
                    </div>
                  </div>
                </div>
              <% end %>
            </div>
          <% end %>
        </div>
      </div>
    <% else %>
      <%= render partial: 'no_results' %>
    <% end %>
  <% end %>
</div>

<script>
  document.addEventListener('turbolinks:load', function() {
    // カードのフェードインを適用
    var cards = document.querySelectorAll('.post-card, .user-card');
    cards.forEach(function(card, index) {
      setTimeout(function() {
        card.style.opacity = '1';
      }, index * 100); // 0.1秒ごとにずらして表示
    });
  });
</script>
