<h1>検索結果</h1>

<% if @model == "user" %>
  <h4>ユーザー名[<%= @content %>]の検索結果</h4>
  <% @records.each do |user| %>
    <%= link_to user.name, admin_user_path(user) %>
  <% end %>
  
<% elsif @model == "post" %>
  <h4>神社仏閣の名前[<%= @content %>]の検索結果</h4>
  <% @records.each do |post| %>
    <%= post.title %>
    <%= post.address %>
    <%= link_to post.user.name, admin_user_path(post.user) %>
  <% end %>
  
<% elsif @model == "comment" %>
  <h4>[<%= @content %>]の検索結果</h4>
  <% @records.each do |comment| %>
    <%= comment.comment %>
    <%= link_to comment.user.name, admin_user_path(comment.user) %>
  <% end %>
  
<% else %>
    <h4>[<%= @content %>]は見つかりませんでした</h4>
<% end %>