<%= render 'layouts/admin_search' %>

<% if flash[:notice].present? %>
  <div class="alert alert-success" role="alert">
    <%= flash[:notice] %>
  </div>
<% end %>

<div class="container mt-5">
  <h4 class="mb-4 text-center">会員一覧</h4>
  <div class="filter-options row justify-content-center mb-3">
    <div class="col-md-4">
      <%= form_with url: admin_dashboard_path, method: :get, local: true do |f| %>
        <div class="sort-options">
          <%= f.label :sort, "ソート順" %>
          <%= f.select :sort, options_for_select([
            ["会員登録が新しい順", 'created_at_desc'],
            ["会員登録が古い順", 'created_at_asc'],
            ["投稿が多い順", 'posts_count_desc'],
            ["投稿が少ない順", 'posts_count_asc'],
            ["コメントが多い順", 'comments_count_desc'],
            ["コメントが少ない順", 'comments_count_asc']
          ], selected: @sort), class: "form-select" %>
        </div>
    </div>
    <div class="col-md-4">
        <div class="filter-options">
          <%= f.label :status, "ステータス" %>
          <%= f.select :status, options_for_select([
            ["すべて", ''],
            ["有効", '有効'],
            ["退会済み", '退会済み']
          ], selected: params[:status]), class: "form-select" %>
        </div>
    </div>
    <div class="col-md-2"> <!-- ボタンの幅調整 -->
        <%= f.submit '適用', class: 'btn btn-primary w-100' %>
      <% end %>
    </div>
  </div>
  <div class="row">
    <% @users.each do |user| %>
      <div class="col-md-4 mb-3">
        <div class="card user-card border-rounded shadowed h-100">
          <div class="card-body">
            <h5 class="card-title"><%= link_to user.name, admin_user_path(user.id) %></h5>
            <p class="card-text">登録日時：<%= user.created_at.strftime("%Y/%m/%d") %></p>
            <p class="card-text">ステータス：<%= user.is_deleted ? "退会済み" : "有効" %></p>
            <p class="card-text">総投稿数：<%= user.posts.count %></p>
            <p class="card-text">総コメント数：<%= user.comments.count %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= paginate @users %>
</div>

<style>
  .user-card {
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
  }

  .card-title a {
    text-decoration: none;
    color: #333;
  }

  .card-title a:hover {
    text-decoration: underline;
  }

  .border-rounded {
    border-radius: 10px;
  }

  .shadowed {
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
</style>
