<%= render 'layouts/admin_search' %>
<% if flash[:notice].present? %>
  <div class="alert alert-success" role="alert">
    <%= flash[:notice] %>
  </div>
<% end %>
<div class="container mt-5">
  <div class="row">
    <div class="col-md-6">
      <div class="d-flex justify-content-between mb-3">
        <h4 class="mb-0">会員情報</h4>
        <%= link_to "会員一覧に戻る", admin_dashboard_path, class: "btn btn-secondary" %>
      </div>
      <div class="card">
        <div class="card-body">
          <p>会員名: <%= @user.name %></p>
          <p>メールアドレス: <%= @user.email %></p>
          <p>会員ステータス: <%= @user.is_deleted ? "退会済み" : "有効" %></p>
          <div class="d-flex">
            <%= link_to "この会員の投稿を見る", admin_user_posts_path(@user), class: "btn btn-primary me-2" %>
            <%= link_to "この会員のコメントを見る", admin_user_comments_path(@user), class: "btn btn-info me-2" %>
          </div>
        </div>
      </div>
      <div class="mt-3">
        <% if @user.is_deleted %>
          <%= link_to "会員ステータスを有効にする", withdraw_user_path(@user), method: :patch, data: { confirm: "本当に有効にしますか？" }, class: "btn btn-success" %>
        <% else %>
          <%= link_to "退会させる", withdraw_user_path(@user), method: :patch, data: { confirm: "本当に退会させますか？" }, class: "btn btn-danger" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
