<!-- 新規投稿画面のCSSを流用 
<%= stylesheet_link_tag 'post_new' %>
<%= render 'layouts/search' %>
<div class="container">
  <div class="row center-form">
    <div class="col-lg-6">
      <%= form_with model: @user, id: 'profile-form', html: {class: 'needs-validation fade-in-from-bottom'}, validate: true do |f| %>
        <%= render 'public/shared/error_messages', resource: f.object %>
        <div class="border p-4 shadow border-rounded fade-in-from-bottom">
          <div class="text-center">
            <h1 class="mb-4">プロフィール編集</h1>
          </div>

          <div class="form-group">
            <h4>名前</h4>
            <%= f.text_field :name, class: "form-control", required: true %>
          </div>

          <div class="form-group">
            <h4>Email</h4>
            <%= f.email_field :email, class: "form-control", required: true %>
          </div>

          <div class="form-group">
            <%= f.submit '編集', class: "btn btn-primary" %>
          </div>
        </div>
      <% end %>

      <div class="mt-4">
        <%= link_to "マイページに戻る", user_path(current_user.id), class: "btn btn-secondary" %>
        <%= link_to "退会する", check_user_path, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>

<script>
  // JavaScriptでバリデーションを設定
  (function () {
    'use strict';
    var form = document.getElementById('profile-form');
    form.addEventListener('submit', function (event) {
      if (!form.checkValidity()) {
        event.preventDefault();
        event.stopPropagation();
      }
      form.classList.add('was-validated');
    }, false);
  })();
</script>
