<div class="filter-sort-options mb-4">
  <%= form_with url: posts_path, method: :get, local: true do |f| %>
    <div class="row justify-content-center">
      <div class="col-md-2 text-center">
        <%= f.label :sort, "ソート順" %><br>
        <%= f.select :sort, options_for_select([["新しい順", 'created_at_desc'], ["古い順", 'created_at_asc'], ["コメントが多い順", 'comments_count_desc'], ["コメントが少ない順", 'comments_count_asc']], selected: params[:sort]), class: 'form-select' %>
      </div>
      <div class="col-md-2 text-center">
        <%= f.label :receive_shuin, "ご朱印の有無" %><br>
        <%= f.select :receive_shuin, options_for_select([["すべて", ''], ["ある", 'true'], ["ない", 'false']], selected: params[:receive_shuin]), class: 'form-select' %>
      </div>
      <div class="col-md-1 d-flex align-items-end">
        <%= f.submit '絞り込み', class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
</div>